<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo_notesApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets Definition -->
  <servlet>
  	<servlet-name>Create Note Controller</servlet-name>
  	<servlet-class>rd.lab.jdbceh.demo.controller.CreateNoteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update Note Controller</servlet-name>
  	<servlet-class>rd.lab.jdbceh.demo.controller.UpdateNoteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete Note Controller</servlet-name>
  	<servlet-class>rd.lab.jdbceh.demo.controller.DeleteNoteController</servlet-class>
  </servlet>
  
  <!-- Servlets Mapping definition -->
  <servlet-mapping>
  	<servlet-name>Create Note Controller</servlet-name>
  	<url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update Note Controller</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete Note Controller</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <!-- Resource Definition -->
  <!-- Data source -->
  <resource-ref>
    <description>Primary Database Connection</description>
    <res-ref-name>jdbc/appDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>